html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

#map {
  width: 100%;
  height: calc(100vh - 100px);
}
