html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

#map {
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
}

#audioContainer {
  text-align: center;
  margin: 10px 0;
}

#qrContainer {
  text-align: center;
  margin: 10px 0;
}
